In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

book = pd.read_csv('Books.csv',low_memory= False)
rating = pd.read_csv('Ratings.csv',low_memory= False)
users = pd.read_csv('Users.csv',low_memory=False)

## Data Preprocessing

In [2]:
book.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [3]:
rating.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [4]:
user_rat = users.merge(rating,on='User-ID')

In [5]:
book = book.merge(user_rat,on='ISBN')

In [6]:
book.head(4)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Location,Age,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,"stockton, california, usa",18.0,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,"timmins, ontario, canada",NaN,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,"ottawa, ontario, canada",49.0,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,"n/a, n/a, n/a",NaN,8

In [7]:
book.drop(columns = ['Year-Of-Publication','Age','Book-Rating'], inplace = True)

In [8]:
book.head()

,ISBN,Book-Title,Book-Author,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Location
0,0195153448,Classical Mythology,Mark P. O. Morford,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,"stockton, california, usa"
1,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,"timmins, ontario, canada"
2,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,"ottawa, ontario, canada"
3,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,"n/a, n/a, n/a"
4,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,"sudbury, ontario, canada"

In [9]:
Original_title = book['Book-Title']

In [10]:
book['Book-Title'] = book['Book-Title'].apply(lambda x : x.lower().replace(' ',''))

In [11]:
book.dropna(inplace= True)

In [12]:
book.drop_duplicates(inplace=True)

In [13]:
book['Book-Author'] = book['Book-Author'].apply(lambda x:x.lower().replace(' ',''))

In [14]:
book['Publisher']= book['Publisher'].apply(lambda x:x.lower().replace(' ',''))

In [15]:
book.head(3)

,ISBN,Book-Title,Book-Author,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Location
0,0195153448,classicalmythology,markp.o.morford,oxforduniversitypress,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,"stockton, california, usa"
1,0002005018,claracallan,richardbrucewright,harperflamingocanada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,"timmins, ontario, canada"
2,0002005018,claracallan,richardbrucewright,harperflamingocanada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,"ottawa, ontario, canada"

In [16]:
book.reset_index(drop = True, inplace=True)

In [17]:
book['Location'] = book['Location'].apply(lambda x :x.replace(',','').lower())

In [18]:
book['tags'] = book['Book-Title']+' '+book['Book-Author']+' '+book['Publisher'] +' '+book['Location']

In [19]:
book.drop(columns = ['User-ID','Book-Author','Publisher','Location'],inplace = True)

In [20]:
book['Book-Title'] = Original_title

In [21]:
book.drop_duplicates('ISBN',inplace=True)

In [22]:
new_df = book.iloc[1:5000,:]

In [23]:
new_df.reset_index(drop= True,inplace=True)

#  word Vectorization

In [24]:
from sklearn.feature_extraction.text import CountVectorizer 
cv = CountVectorizer (stop_words='english',max_features=1000) 
vectors = cv.fit_transform(new_df['tags'])

In [25]:
from sklearn.metrics.pairwise import cosine_similarity 
similarity_fector  = cosine_similarity(vectors)

In [26]:
def recommendation(book_name):
    suggested_book = [] 
    book_index = new_df[new_df['Book-Title'] == book_name].index[0]
    similer_book_index = sorted(enumerate(similarity_fector[book_index]),reverse= True,key = lambda x:x[1])[1:6]
    
    for i in similer_book_index : 
        suggested_book.append(new_df.iloc[i[0],1])
    return suggested_book

In [27]:
# make prediction how the model is working : 
recommendation('Clara Callan')

['Decision in Normandy',
 'Nights Below Station Street',
 "Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust",
 'The Middle Stories',
 'More Cunning Than Man: A Social History of Rats and Man']

In [28]:
# pickle all the necessory docs : 
import pickle 
pickle.dump(new_df,open('book_df.pkl','wb'))
pickle.dump(similarity_fector,open('sim_fec_book.pkl','wb'))